{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Escape from Tarkov</h1>
        <hr>
        <iframe width="1120" height="630" src="https://www.youtube.com/embed/MKYOspIJiWE?si=5tAP5BFwHvLjIiEd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <p>Escape from Tarkov is a hardcore and realistic online first-person action RPG/Simulator with MMO features and a story-driven walkthrough. With each passing day the situation in the Norvinsk region grows more and more complicated. Incessant warfare in Tarkov has sparked massive panic; the local population has fled the city, but those who stayed are looking to improve their fortunes at the expense of others.</p>
        
        <p>There are highly immersive concepts that set Tarkov apart from other games:</p>
        <hr>
        <ul>
            <li><span>Hyperrealism:</span> There are no mini-maps included, and you are not afforded with enemy position information. You have to learn how to navigate the maps from landmarks and hours of exposure</li>
            
            <li><span>Damage and Healing:</span> ballistics interaction and penetration on armor and your character is intricate: plates can protect your head, torso, or stomach, but exposed limbs are subject to bleeds (light and heavy) or fractures. Healing items have to be used on injured sections. Oh, and you could die of starvation or dehydration, so pay attention to your levels.</li>
            
            <li><span>Crafting:</span> You have access to a hideout where you can craft ammunition, provisions, healing items, and in some cases rare items.</li>
            
            <li><span>PvPvE:</span> Each raid is filled with other players (PMCs) and with AI enemies of varying difficulty levels. Protip: everyone is a potential enemy...but the option is always there to pair up and cooperate if you want to take a gamble.</li>
            
            <li><span>Customization:</span> There are thousands of weapon attachments to adjust the specs and improve performance. There are also an expansive gear selection to choose from.</li>
        </ul>

        <a href="https://www.escapefromtarkov.com/" target="_blank">Visit the official Escape from Tarkov website</a>

        

        <h2>Tarkov Marketplace</h2>
        <hr>
        <p>Escape from Tarkov utilizes an in-game flea market, where players can barter and sell loot items in exchange for currency (euros, rubles, or dollars). This feature can be exceptionally lucrative for selling items required to complete certain missions or objectives.</p>
        <iframe width="80%" height="600" src="https://tarkov-market.com/" title="Tarkov Marketplace" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}