{% extends 'base.html' %}

{% block content %}

<form id="workoutForm">
    <label for="goal">Fitness Goal:</label>
    <select id="goal" name="goal">
      <option value="weight_loss">Weight Loss</option>
      <option value="muscle_gain">Muscle Gain</option>
      <option value="improve_fitness">Improve Fitness</option>
    </select>
  
    <label for="level">Fitness Level:</label>
    <select id="level" name="level">
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  
    <button type="submit">Get Routine</button>
  </form>
  
<div id="routine"></div>

<div>
    <h2>Fitness Journey</h2>
    <p>My workout routine has changed over time to accommodate my schedule, but I make an effort to go to the gym at least 4 times a week.</p>
    <p>At each session I aim for 30+ minutes of cardio and a 1 hour weight training session. My splits are as follows:</p>
    <ul>
        <li><span>Mondays/Fridays:</span> 20 minute run, 10 minutes stair master. Back and biceps weight training session.</li>
        
        <li><span>Tuesdays/Saturdays:</span> 30 minute elliptical session. Legs and shoulders weight training session.</li>
        
        <li><span>Thursdays/Sundays:</span> 20 minute run, 10 minute stair master. Chest and tricep weight training session.</li>
             
    
    </ul>
</div>
<img src="{{ url_for('static', filename='images/workout.jpg') }}" alt="Bodyweight Workout Diagram" width="600">
<div>
    <p>Even without equipment or a gym setting, it is possible to get a great workout session completed!</p>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
  




{% endblock %}